#content main .box-info li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#content main .box-info li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
a {
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove underline */
}