<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashesi Unified Header</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="logo">
                <a href="https://www.ashesi.edu.gh/"><img src="./img/logo-mobile.png" alt="Ashesi Logo"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="https://www.ashesi.edu.gh/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Admissions</a></li>
                    <li><a href="#">Academics</a></li>
                    <li><a href="#">Student Life</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Useful Links</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/login_page/index.html">Log In</a></li>
                    <li><a href="/register_page/index.html">Register</a></li>
                    <li class="search-bar">
                        <input type="text" placeholder="Search...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</body>
</html>



